@font-face {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-300';
    src: url('fonts/Gilroy-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
