body{
  margin: 0;
  background: url('images/background1.svg') top 0% left 0% / auto 35.3% repeat-x,
              url('images/background2.svg') top 93.5% left 0% / auto 25% repeat-x,
              url('images/background3.svg') top 130% left 0% / auto 35% repeat-x;
}
.wrapper{
  width: 82%;
  margin:auto;
}
.logo{
  margin-top: 60px;
}
.plans-one{
  background: left 100% top 0%  no-repeat url('images/girl.svg');
  margin-top: 75px;
}
.plans-one__title{
  font: 800 45px/55px gilroy, arial, helvetica, sans-serif;
  color: #fff;
  padding-top: 53px;
  margin-bottom: 32px;
  width: 52%;
  }
.plans-one__first-subtitle{
  font: 800 30px/36.75px gilroy, arial, helvetica, sans-serif;
  color: #FFCC33;
  margin-bottom: 13px;
  width: 30%;
}
.plans-one__second-subtitle{
  font: 20px/23px gilroy-300, arial, helvetica, sans-serif;
  color: #fff;
  margin-bottom: 32px;
  width: 42%;
}
.plans-one__button{
  display:inline-block;
  background: #FFCC33;
  text-decoration: none;
  padding: 15px 23px;
  font: 900 20px/24.38px Montserrat, arial, helvetica, sans-serif;
  color: #3030C1;
  margin-bottom: 296px;
}
.plans-two{
  background: url('images/plan1.svg') top 22% left -3% no-repeat,
              url('images/plan2.svg') top 22% left 51% no-repeat,
              url('images/plan3.svg') top 22% left 105% no-repeat;
}
.plans-two__title{
  font: 800 40px/49px gilroy, arial, helvetica, sans-serif;
  text-align: center;
  margin-bottom: 485px;
  color: #3A3A3A;
}
.plans-two__first-subtitle{
  font: 800 40px/49px gilroy, arial, helvetica, sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 30px;
}
.plans-two__second-subtitle{
  font: 30px/35px gilroy-300, arial, helvetica, sans-serif;
  color: #3A3A3A;
  margin: 0 83px 128px 100px;;
  text-align: center;
}
.form__title{
  font: 800 40px/49px gilroy, arial, helvetica, sans-serif;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 50px;
}
.form__username{
  display: block;
  width: 352px;
  height: 80px;
  padding-left: 28px;
  font: 20px/23px gilroy-300, arial, helvetica, sans-serif;
  color: #878787;
  margin-left: 400px;
  margin-bottom: 30px;
  border: none;
}
.form__useremail{
  display: block;
  width: 352px;
  height: 80px;
  margin-left: 400px;
  margin-bottom: 74px;
  padding-left: 28px;
  font: 20px/23px gilroy-300, arial, helvetica, sans-serif;
  color: #878787;
  border: none;
}
.form__button{
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  margin-left: 400px;
  width: 380px;
  padding: 28px 0;
  font: 20px/24px Montserrat, arial, helvetica, sans-serif;
  background: #FFDA45;
  margin-bottom: 122px;
  opacity: .5s;
}
.footer{
  font: 15px/18px Roboto, arial, helvetica, sans-serif;
  margin-bottom: 51px;
  color: #FFF;
}
